<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
 <div class="p-grid">
  <div class="p-col p-col-align-start"></div>
  <div class="p-col p-col-align-center">
        <p-blockUI [target]="login" [blocked]="busy">
                <p-progressSpinner [style]="{  marginLeft: '157px',marginTop: '62px'}"></p-progressSpinner>
            </p-blockUI>
    <p-card #login header="mTest" subheader="Login!" styleClass="ui-card-shadow">
      
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user" (click)='showUserNameHelp()'></i></span>
            <input type="text"  [ngClass]='{invalid : !loginForm.controls.username.valid && loginForm.controls.username.dirty}' pInputText placeholder="Username" formControlName='username'>         
        </div><br>
       <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
            <input type="password" [ngClass]='{invalid : !loginForm.controls.password.valid && loginForm.controls.password.dirty }' pInputText placeholder="Password" formControlName='password'>         
        </div>
       
      <p-footer>
          <button pButton type="submit" label="Login" icon="pi pi-check" style="margin-right: 1em" ></button>
          <button pButton type="button" label="Cancel" icon="pi pi-times" style="margin-right: 1em"  class="ui-button-secondary"></button>
          <button pButton type="button" [routerLink]="['/mTRegister']" label="Register" icon="pi pi-user"  style="margin-right: 1em" class="ui-button-secondary"></button>
          <button pButton type="button" label="Forgot" icon="pi pi-key"  class="ui-button-secondary"></button>
          <h6 style='float:right'>Copyright mTest 2018</h6>  
      </p-footer>
         
  </p-card>
  </div>
  <div class="p-col p-col-align-end"></div>
</div>
</form>
