
<br>
<form [formGroup]="codingForm" (ngSubmit)="save()">
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
              <i class='fa fa-pencil'></i>
              Create Coding Challenge</span>
        </div>
    </p-header>
    <div class="p-grid">
        <div class="p-col-6">    
                  <input type="text" style='width:100%' pInputText placeholder="Problem Statement" formControlName='statement'>         
              </div>
              <div class="p-col-6">
                  <sup>*</sup>Max 500 Characters
              </div>
        <div class="p-col-10">
            <p-editor  [style]="{'width':'100%','height':'300px'}" formControlName='description'></p-editor>            
        </div>
        <div class="p-col-3">
            <input type="text" style='width:100%' pInputText placeholder="Method Name" formControlName='function'>                
        </div>
        <div class="p-col-3">
            <sup>*</sup>Max 200 Characters
        </div>
        <div class="p-col-3">
            <p-dropdown [options]="dataTypes" placeholder="Method Return Type" formControlName='functionReturn' ></p-dropdown>                           
        </div>
        <div class="p-col-12">
            <p-fieldset [toggleable]="true">
                <p-header>Method Arguments</p-header>
                <div class="p-grid">
                    <div class="p-col-12">
                        <span *ngFor='let arg of args' >
                            <button  style="margin-right: .25em" pButton type="button" label="{{arg.name}} ({{arg.datatype}})" class="ui-button-warning"></button>      
                            <i class='pi pi-times' (click)='removeArgument(arg.id)'></i> 
                        </span>  
                    </div>
                    <div class="p-col-3">
                        <input type="text" style='width:100%' pInputText placeholder="Argument Name" [(ngModel)]="argName" [ngModelOptions]="{standalone: true}">                
                    </div>
                    <div class="p-col-2">
                        <p-dropdown [options]="dataTypes" [(ngModel)]="argType" [ngModelOptions]="{standalone: true}"></p-dropdown>                
                    </div>
                    <div class="p-col-2">
                            <button pButton type="button" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addArgument()"></button>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="p-col-12">
            <p-fieldset [toggleable]="true">
                <p-header>Test Cases</p-header>
                <div class="p-grid">
                        <div class="p-col-12">
                             <p-toolbar *ngFor='let testCase of testCases'>
                                <div class="ui-toolbar-group-left">
                                    <i class="fa fa-rocket fa-lg" style='color:#0b2ba5'></i>
                                    &nbsp;&nbsp;&nbsp;
                                    <b>{{testCase.title}}</b>
                                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;<b>Input(s)</b>
                                    {{testCase.inputs}}
                                    &nbsp;&nbsp;&nbsp;<b>Output</b>
                                    {{testCase.output}}
                                    </div>
                                <div class="ui-toolbar-group-right">
                                    <i class="pi pi-trash" (click)='removeTestCase(testCase.id)'></i>
                                </div>
                            </p-toolbar><br>
                            </div>
                        <div class="p-col-3">
                            <input type="text" style='width:100%' pInputText placeholder="Test Case Title" [(ngModel)]="tcTitle" [ngModelOptions]="{standalone: true}">                
                        </div>
                        <div class="p-col-3">
                           
                            <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon" (click)="help(0)"><i class="fa fa-question"></i></span>
                                    <input type="text" style='width:100%' pInputText placeholder="Inputs" [(ngModel)]="tcIP" [ngModelOptions]="{standalone: true}">     
                            </div>                        
                        </div>
                        <div class="p-col-3">
                                <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon" (click)="help(1)"><i class="fa fa-question"></i></span>
                                        <input type="text" style='width:100%' pInputText placeholder="Outputs" [(ngModel)]="tcOP" [ngModelOptions]="{standalone: true}">                               
                                </div>                                  
                            </div>
                        <div class="p-col-2">
                                <button pButton type="button" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addTestCase()" ></button>
                        </div>
                    </div>
            </p-fieldset>
        </div>
      </div>
    <p-footer>
        <button pButton type="submit" icon="pi pi-check" label="Save" class="ui-button-info" style="margin-right: .25em"></button>
        <button pButton type="button" icon="pi pi-times" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-panel>
</form>



<p-dialog [(visible)]="previewTest">
    <p-header>
        <i class="fa fa-desktop fa-lg" aria-hidden="true"></i> Coding Test Preview
    </p-header>
    <div class="p-grid">
            <div class="p-col-12">
    <h2>{{dataObj.statement}}</h2>
    </div><div class="p-col-12">
    <p [innerHTML]="dataObj.description"></p>
    </div><div class="p-col-12">
    <h3>function <b>{{dataObj.methodName}}( </b>
    <span *ngFor='let arg of dataObj.methodArgs'>{{arg.name}} : {{arg.datatype}},</span> )</h3>
    </div>
        <div class="p-col-12">
             <p-toolbar *ngFor='let testCase of dataObj.testCases'>
                <div class="ui-toolbar-group-left">
                    <i class="fa fa-rocket fa-lg" style='color:#0b2ba5'></i>
                    &nbsp;&nbsp;&nbsp;
                    <b>{{testCase.title}}</b>
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;<b>Input(s)</b>
                    {{testCase.inputs}}
                    &nbsp;&nbsp;&nbsp;<b>Output</b>
                    {{testCase.output}}
                    </div>
            </p-toolbar><br>
            </div>
            </div>
</p-dialog>